body {
    color: azure;
    display: flex-col;
    text-align: center;
    background-color: #664795;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='48' height='48' viewBox='0 0 48 48'%3E%3Cg fill='%2326232a' fill-opacity='0.15'%3E%3Cpath d='M12 0h18v6h6v6h6v18h-6v6h-6v6H12v-6H6v-6H0V12h6V6h6V0zm12 6h-6v6h-6v6H6v6h6v6h6v6h6v-6h6v-6h6v-6h-6v-6h-6V6zm-6 12h6v6h-6v-6zm24 24h6v6h-6v-6z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
} 
 ol, ul{

    text-align:start;
    display: inline-block;
  }
a {
      color:cornflowerblue;
}
nav {
   width: 100%;
   background-color: rgb(66, 55, 55);
  
   
  }
  nav li{

    float: left;
  }
 
  
nav li a:hover {
      background-color: rgb(27, 21, 21);
  }
  
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-around;
    align-items: center;
    /* background-color: #333; */
    
  }
  
 
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    align-content: center;
  }
  .fotoYVideo{
      display: flex;
      flex-flow: row ;
      justify-content: space-around;
      align-items: center;
      
  }
  input , textarea{
      background-color: rgb(61, 55, 55);
  
     
  } 
  .elegir{
      text-decoration:underline;
      
  }
  